%h1
  %small = $namespace->getModifiers()
  != $generator->linkTo($namespace->getFilename(), $namespace->getPrintableName())

- if ($namespace->getChildNamespaces())
  %h2 Child Namespaces

  %ul
    - foreach ($namespace->getChildNamespaces() as $child)
      %li
        != \Pages\PageRenderer::requireTemplate("_inline_namespace", array('namespace' => $child) + $args)

- if ($namespace->getInterfaces())
  %h2 Interfaces

  != \Pages\PageRenderer::requireTemplate("_inline_class_list", array('classes' => $namespace->getInterfaces()) + $args)

- if ($namespace->getClasses())
  %h2 Classes

  != \Pages\PageRenderer::requireTemplate("_inline_class_list", array('classes' => $namespace->getClasses()) + $args)
